* {
  /* border: 1px solid green; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  /* width: 60px; */
  display: block;
}
/* a {
  display: block;
} */

ul {
  list-style: none;
  text-align: right;
  background-color: black;
  padding: 30px;
}

ul > li > a {
  text-decoration: none;
  /* color: white; */
}

li {
  display: inline;
}
li > a:hover {
  color: white;
}
